body
{

background-image:url("/home/Sem6B10/Downloads/index7.jpeg");
background-repeat:repeat;
background-attachment:fixed;
background-size:cover;

}
h1{
color:blue;
}

p.normal{
color:blue;
font-style:italic;
font-weight:bold;
direction:rtl;
letter-spacing:5px;
word-spacing:5px;
text-indent:1cm;
}
p.warning{
color:red;
font-family:serif;
font-size:large;
font-weight:bolder;
text-align:right;
text-transform:lowercase;

}
p.s
{
color:blue;
font-size:300%;
font-style:italic;
font-weight:bold;
text-align:center;
text-decoration:underline;
text-transform:uppercase;
text-shadow:4px 4px 8px white;
}
img:hover{
border:0px;
border:3px ridge blue;
height:200px;
width:100px;
opacity:0.6;
}

#id1{
color:blue;
}
.mycolour{
color:red;
}

p.one{
border-style:solid;
border-width:5px;
border-color:green;
color:yellow;
}

p.two{
border-style:dashed;
border-width:5px;
border-color:orange;
color:yellow;
}

p.three{
border-style:dashed;
border-width:5px;
border-color:orange blue green red;
color:yellow;
}

p.set{
border-top-style:solid;
border-right-style:solid;
border-bottom-style:solid;
border-left-style:solid;
border-color:red;
color:blue;
background-color:lightgrey;
}

p.mar{
border-color:red;
margin:25px 50px 75px 100px;
color:yellow;
}

div{
width:300px;
margin:auto;
border:1px solid red;
color
}


