body
{

background-image:radial-gradient(white 0%,green 50%);
background-repeat:repeat;
background-attachment:fixed;
background-size:cover;

}
h1{
color:blue;
}

p.normal{
color:blue;
font-style:italic;
font-weight:bold;
direction:rtl;
letter-spacing:5px;
word-spacing:5px;
text-indent:1cm;
}
p.warning{
color:red;
font-family:serif;
font-size:large;
font-weight:bolder;
text-align:right;
text-transform:lowercase;

}
p.s
{
color:blue;
font-size:300%;
font-style:italic;
font-weight:bold;
text-align:center;
text-decoration:underline;
text-transform:uppercase;
text-shadow:4px 4px 8px white;
}
img:hover{
border:0px;
border:3px ridge blue;
height:200px;
width:100px;
opacity:0.6;
}

#id1{
color:blue;
}
.mycolour{
color:red;
}

p.one{
border-style:solid;
border-width:5px;
border-color:green;
color:yellow;
}

p.two{
border-style:dashed;
border-width:5px;
border-color:orange;
color:yellow;
}

p.three{
border-style:dashed;
border-width:5px;
border-color:orange blue green red;
color:yellow;
}

p.set{
border-top-style:solid;
border-right-style:solid;
border-bottom-style:solid;
border-left-style:solid;
border-color:red;
color:blue;
background-color:lightgrey;
}

p.mar{
border-color:red;
margin:25px 50px 75px 100px;
color:yellow;
}


h1.m{
width:300px;
margin:auto;
border:1px solid red;
padding:25px 50px 75px 100px;
}

div 
{
margin:2cm;
padding:5px 5px 5px 5px;
border:2px dashed green;
}

li
{
display:block;
color:yellow;
}
p.sp
{
color:blue;
}

span.a{
display:block;
color:blue;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;

}
span.b{
display:inline-block;
color:blue;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;

}
span.a{
display:inline;
color:blue;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;

}

a.on
{
color:black;
}

a.tw
{
color:blue;
text-decoration:none;
}

a.t
{
margin:5px;
padding:2px;
border-color:solid yellow;
text-decoration:none;
color:blue;
border:solid;
}
a.tq
{


text-decoration:none;
color:black;
border:solid;
background-color:yellow;

}
p.in{
display:inline;
}

a.l:link
{
color:green;
}

a.j:hover{
color:pink;
}

a.p:active{
color:pink;
}

P.k::first-line
{
color:#ff0000;
font-variant:small_caps;
}

P.r::first-letter
{
color:#ff0000;
font-variant:xx-large;
}

h1.sk::selection
{
color:blue;
background:yellow;
}


div.one
{
background-image:url("/home/Sem6B10/Downloads/index7.jpeg");
border:solid grey;
}

div.two
{
background-color:white;
opacity:0.4;
border:solid grey;
}

div.three
{
width:100px;
height:100px;
background:lightblue;
transition:width 2s,height 4s;
}
 
div.three:hover{
color:blue;
width:300px;
height:300px;
transform: rotateZ(90deg);

}

div.five
{
width:100px;
height:100px;
background:pink;
transition:width 2s,height 4s,transform 2s;

}

div.five:hover{
color:red;
width:300px;
height:300px;
transform: matrix(1, -0.3, 0, 1, 0, 0);
}

@keyframes example {
  from {background-color: yellow;}
  to {background-color: pink;}
}
div.six{
 
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes ex {
  0%   {transfrom:rotate(0deg);background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
div.seven{
 width: 70px;
height: 47px;
background: #92B901;
color: #ffffff;
position: relative;
font-weight: bold;
font-size: 20px;
padding: 10px;
animation: animated_div 5s 1;
animation-name: ex;
border-radius: 5px;
}



